In [2]:
import gmaps
import gkey
import pandas as pd
import numpy as np

In [3]:
gmaps.configure(api_key=gkey.gmapapikey)

In [4]:
new_york_coordinates = (40.75, -74.00)
gmaps.figure(center=new_york_coordinates, zoom_level=12)

Figure(layout=FigureLayout(height='420px'))

In [5]:
sfocity = (37.77,-122.41)
gmaps.figure(center=sfocity, zoom_level=12)

Figure(layout=FigureLayout(height='420px'))

In [6]:
loc1=[[-122.484089,37.78791],[-122.484346,37.787654],[-122.487434,37.787491],[-122.487123,37.78376],[-122.492526,37.783501]]

In [7]:
loc1

[[-122.484089, 37.78791],
 [-122.484346, 37.787654],
 [-122.487434, 37.787491],
 [-122.487123, 37.78376],
 [-122.492526, 37.783501]]

In [8]:
locdf=pd.DataFrame(loc1)
locdf.head()

            0          1
0 -122.484089  37.787910
1 -122.484346  37.787654
2 -122.487434  37.787491
3 -122.487123  37.783760
4 -122.492526  37.783501

In [9]:
locations = locdf[[1,0]]

In [10]:
weights=[42,5,1,25,36]

In [11]:
weights

[42, 5, 1, 25, 36]

In [12]:
#Set up your map
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))