In [1]:
import pandas as pd

In [2]:
cal = pd.read_csv('calendar.csv.gz')
cal.head()

   listing_id        date available price
0         958  2019-04-15         f   NaN
1         958  2019-04-14         f   NaN
2         958  2019-04-13         f   NaN
3         958  2019-04-12         f   NaN
4         958  2019-04-11         f   NaN

In [5]:
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712580 entries, 0 to 1712579
Data columns (total 4 columns):
listing_id    int64
date          object
available     object
price         object
dtypes: int64(1), object(3)
memory usage: 52.3+ MB

In [17]:
cal.date.max()

'2019-07-04'

In [7]:
list = pd.read_csv('listings.csv.gz')
list.shape

(4693, 96)

In [8]:
list.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,958,https://www.airbnb.com/rooms/958,20180705131954,2018-07-05,"Bright, Modern Garden Unit - 1BR/1B",Our bright garden unit overlooks a grassy back...,"Newly remodeled, modern, and bright garden uni...",Our bright garden unit overlooks a grassy back...,none,*Quiet cul de sac in friendly neighborhood *St...,...,t,STR-0001256,"{""SAN FRANCISCO""}",f,f,moderate,f,f,1,1.31
1,5858,https://www.airbnb.com/rooms/5858,20180705131954,2018-07-05,Creative Sanctuary,NaN,We live in a large Victorian house on a quiet ...,We live in a large Victorian house on a quiet ...,none,I love how our neighborhood feels quiet but is...,...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,1,1.00
2,7918,https://www.airbnb.com/rooms/7918,20180705131954,2018-07-05,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,Room rental-sunny view room/sink/Wi Fi (inner ...,Nice and good public transportation. 7 minute...,none,"Shopping old town, restaurants, McDonald, Whol...",...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,7,0.16
3,8014,https://www.airbnb.com/rooms/8014,20180705131954,2018-07-05,Newly Remodeled room in big house WIFI market,Freshly painted newly done laminate floor with...,The room is recently painted in the color of c...,Freshly painted newly done laminate floor with...,none,"The neighborhood is very residential, close to...",...,t,STR-0000974,"{""SAN FRANCISCO""}",t,f,moderate,f,f,2,1.15
4,8142,https://www.airbnb.com/rooms/8142,20180705131954,2018-07-05,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,Room rental Sunny view Rm/Wi-Fi/TV/sink/large ...,Nice and good public transportation. 7 minute...,none,NaN,...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,7,0.15

In [9]:
list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4693 entries, 0 to 4692
Data columns (total 96 columns):
id                                  4693 non-null int64
listing_url                         4693 non-null object
scrape_id                           4693 non-null int64
last_scraped                        4693 non-null object
name                                4693 non-null object
summary                             4544 non-null object
space                               4094 non-null object
description                         4686 non-null object
experiences_offered                 4693 non-null object
neighborhood_overview               3642 non-null object
notes                               3104 non-null object
transit                             3720 non-null object
access                              3687 non-null object
interaction                         3534 non-null object
house_rules                         3763 non-null object
thumbnail_url                       0 non-null float64
medium_url                          0 non-null float64
picture_url                         4693 non-null object
xl_picture_url                      0 non-null float64
host_id                             4693 non-null int64
host_url                            4693 non-null object
host_name                           4693 non-null object
host_since                          4693 non-null object
host_location                       4686 non-null object
host_about                          3635 non-null object
host_response_time                  4340 non-null object
host_response_rate                  4340 non-null object
host_acceptance_rate                0 non-null float64
host_is_superhost                   4693 non-null object
host_thumbnail_url                  4693 non-null object
host_picture_url                    4693 non-null object
host_neighbourhood                  4406 non-null object
host_listings_count                 4693 non-null int64
host_total_listings_count           4693 non-null int64
host_verifications                  4693 non-null object
host_has_profile_pic                4693 non-null object
host_identity_verified              4693 non-null object
street                              4693 non-null object
neighbourhood                       4528 non-null object
neighbourhood_cleansed              4693 non-null object
neighbourhood_group_cleansed        0 non-null float64
city                                4692 non-null object
state                               4692 non-null object
zipcode                             4669 non-null float64
market                              4678 non-null object
smart_location                      4693 non-null object
country_code                        4693 non-null object
country                             4693 non-null object
latitude                            4693 non-null float64
longitude                           4693 non-null float64
is_location_exact                   4693 non-null object
property_type                       4693 non-null object
room_type                           4693 non-null object
accommodates                        4693 non-null int64
bathrooms                           4668 non-null float64
bedrooms                            4693 non-null int64
beds                                4688 non-null float64
bed_type                            4693 non-null object
amenities                           4693 non-null object
square_feet                         110 non-null float64
price                               4693 non-null object
weekly_price                        1027 non-null object
monthly_price                       899 non-null object
security_deposit                    3703 non-null object
cleaning_fee                        4240 non-null object
guests_included                     4693 non-null int64
extra_people                        4693 non-null object
minimum_nights                      4693 non-null int64
maximum_nights                      4693 non-null int64
calendar_updated                    4693 non-null object
has_availability                    4693 non-null object
availability_30                     4693 non-null int64
availability_60                     4693 non-null int64
availability_90                     4693 non-null int64
availability_365                    4693 non-null int64
calendar_last_scraped               4693 non-null object
number_of_reviews                   4693 non-null int64
first_review                        4409 non-null object
last_review                         4409 non-null object
review_scores_rating                4388 non-null float64
review_scores_accuracy              4387 non-null float64
review_scores_cleanliness           4388 non-null float64
review_scores_checkin               4386 non-null float64
review_scores_communication         4387 non-null float64
review_scores_location              4386 non-null float64
review_scores_value                 4385 non-null float64
requires_license                    4693 non-null object
license                             4180 non-null object
jurisdiction_names                  4646 non-null object
instant_bookable                    4693 non-null object
is_business_travel_ready            4693 non-null object
cancellation_policy                 4693 non-null object
require_guest_profile_picture       4693 non-null object
require_guest_phone_verification    4693 non-null object
calculated_host_listings_count      4693 non-null int64
reviews_per_month                   4409 non-null float64
dtypes: float64(19), int64(16), object(61)
memory usage: 3.4+ MB

In [12]:
revs = pd.read_csv('reviews.csv.gz')
revs.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,958,5977,2009-07-23,15695,Ted,"Our experience was, without a doubt, a five st..."
1,958,6660,2009-08-03,26145,Simon,Returning to San Francisco is a rejuvenating t...
2,958,11519,2009-09-27,25839,Denis,We were very pleased with the accommodations a...
3,958,16282,2009-11-05,33750,Anna,We highly recommend this accomodation and agre...
4,958,26008,2010-02-13,15416,Venetia,Holly's place was great. It was exactly what I...

In [13]:
revs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252914 entries, 0 to 252913
Data columns (total 6 columns):
listing_id       252914 non-null int64
id               252914 non-null int64
date             252914 non-null object
reviewer_id      252914 non-null int64
reviewer_name    252913 non-null object
comments         252709 non-null object
dtypes: int64(3), object(3)
memory usage: 11.6+ MB

In [14]:
revs.date.min()

'2009-05-03'

In [15]:
revs.date.max()

'2018-07-05'

In [10]:
nhood = pd.read_csv('neighbourhoods.csv')
nhood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
neighbourhood_group    0 non-null float64
neighbourhood          37 non-null object
dtypes: float64(1), object(1)
memory usage: 672.0+ bytes

In [11]:
nhood.head()

   neighbourhood_group        neighbourhood
0                  NaN              Bayview
1                  NaN       Bernal Heights
2                  NaN  Castro/Upper Market
3                  NaN            Chinatown
4                  NaN       Crocker Amazon

In [18]:
cal.shape

(1712580, 4)

In [20]:
list.shape

(4693, 96)

In [22]:
nhood.shape

(37, 2)

In [23]:
revs.shape

(252914, 6)